*{
    margin:0;
    padding:0;
    font-family: cursive;
}
body{
    background-color: rgb(239, 200, 152);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem;
}
.box{
    border:2px solid black;
    height:40rem;
    width:100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}